<html>
<header>
  <meta charset="utf-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <title>AIO-IR system</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="styles.css">

</header>

<body onload="on_load();">
  <div class="container">
    <div class="search_container">
      <div class="search">

        <label for="">
          <i class="fa fa-search" aria-hidden="true"></i>
        </label>
        <input id="text_query" type="text" placeholder="Text query">
      </div>
      <div class="group_btn">
        <button class="custom-btn btn-13" onclick="search();"><span>Search</span></button>
      </div>

    </div>


    <!-- <div style="height: 5px; width: 100%; background-color: black; margin-bottom: 5px; margin-top: 5px;"></div> -->
    <div id="div_img">

    </div>

    <div style="height: 5px; width: 100%; background-color: black;"></div>
    <div id="div_page">

    </div>
    <div id="div_total_page">Total: 1200 page</div>
    <div style="margin-bottom: 50px;"></div>

  </div>
  <script>
    var data = '{{ data|tojson }}';
    data = data.replace(/\s/g, '');
    data = data.replace(/\\/g, '/');
    data = JSON.parse(data);
    let btn_knn = document.getElementsByClassName("btn_knn");
    let btn_select = document.getElementsByClassName("btn_select");
    let hoverImg = document.getElementsByClassName("hoverImg");
    // console.log("data: " + JSON.stringify(data))
    function add_paging() {
      console.log(data['num_page']);
      var url = new URL(window.location.href);
      var cur_index = parseInt(url.searchParams.get("index"));
      var imgpath = url.searchParams.get("imgpath");
      // var labelpath = url.searchParams.get("labelpath");
      if (cur_index == 'undefined') {
        cur_index = 0;
      }
      var i = cur_index - 4;
      if (i > 0) {
        var iDiv = document.createElement('div');
        iDiv.className = 'page_num';
        iDiv.innerHTML = "...";
        document.getElementById("div_page").appendChild(iDiv);
      }
      for (i; ((i < data['num_page']) && (i < cur_index + 4)); i++) {
        if (i < 0) {
          i = 0;
        }
        var iDiv = document.createElement('div');
        iDiv.className = 'page_num';
        var iA = document.createElement('a');
        // iA.href = "?index="+i.toString()+"&imgpath="+imgpath+"&labelpath="+labelpath;
        iA.href = "?index=" + i.toString() + "&imgpath=" + imgpath;
        iA.innerHTML = i.toString();
        if (i == cur_index) {
          iA.style.color = "green";
        }
        iDiv.appendChild(iA);
        document.getElementById("div_page").appendChild(iDiv);
      }
      if (i < data['num_page']) {
        var iDiv = document.createElement('div');
        iDiv.className = 'page_num';
        iDiv.innerHTML = "...";
        document.getElementById("div_page").appendChild(iDiv);
      }
      document.getElementById("div_total_page").innerHTML = "Total: " + data['num_page'].toString() + " page";
    }

    function add_img(div_id_image) {
      let div_img = document.getElementById("div_img");
      let pagefile_list = data['pagefile'];

      pagefile_list.forEach((item, index) => {
        // console.log('item: ' + JSON.stringify(item))
        $("#div_img").append(
          `<div class= "container_img_btn"  onmouseover="mouseOver(${index})" onmouseout="mouseOut(${index})">
                        <button class="btn_knn" onClick="go_img_search(${item.id})">IR</button>
                        <img class="hoverImg" onclick="show_list_segment(${item.id})" src="get_img?fpath=${item.imgpath}">
                    </div>`
        )
      });

    }

    function mouseOver(id) {
      // console.log('type: ' + typeof(btn_knn))
      btn_knn[id].style.display = "block";
      btn_select[id].style.display = "block";
    }
    function mouseOut(id) {
      // console.log('type: ' + typeof(btn_knn))
      btn_knn[id].style.display = "none";
      btn_select[id].style.display = "none";
    }
    function go_img_search(id) {
      window.open("/imgsearch?imgid=" + id);
    }

    function on_load() {
      var url = new URL(window.location.href);
      var imgpath = url.searchParams.get("imgpath");
      if ("query" in data) {
        document.getElementById("text_query").value = data["query"]
      }
      add_paging();
      add_img("div_img");
    }

    function show_list_segment(id) {
      window.open("/showsegment?imgid=" + id);
    }

    function search() {
      text_query = document.getElementById('text_query').value;

      window.location.href = "/textsearch?textquery=" + text_query;

      document.getElementById('text_query').innerHTML = (text_query + '');
    }


  </script>
</body>

</html>